#mask {
    position:absolute;
    background-color:rgba(0,0,0,0.7);
    display:none;
    top:0;
    left:0;
}
#box {
    position:absolute;
    width:400px;
    height:auto;
    padding:20px;
    background-color:#fff;
    box-shadow:0px 0px 10px 2px #000;
    -moz-box-shadow:0px 0px 10px 2px #000;
    -webkit-box-shadow:0px 0px 10px 2px #000;
    -o-box-shadow:0px 0px 10px 2px #000;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px;
    overflow:auto;
	display:none;
}
#head {
    width:100%;
    text-align:center;
	margin:-20px 0 -20px 0;
}
#close {
	width:24px;
	height:24px;
	background-image:url(../img/close.png);
	border-radius:12px;
	cursor:pointer;
	z-index:10000;
	position:absolute;
}

div[name=kb-modal] {
	display: none;
}